body{
    margin: 0px;
    height: 100%;
    width: 100%;

}
a{
    color: transparent;
    style: none;

}
#header{
    position: absolute;
    z-index: 1;
    top: 10px;
    width: 1450px;
    height: 60px;
    background: #b7e2c0;
}
h1 {

font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  background-image: url('img/bg.png');
  background-size: 50px 50px;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
    color: transparent;
  font-size: 25px;


}
h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
color: #b7e2c0;
    font-size: 55px;
}
h3 {
font-family: 'Playfair Display', serif;
font-size: 40px;

}
h4 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
color: black;
    font-size: 20px;
}
.helene {
position: relative;
font-family: 'Playfair Display', serif;
font-size: 18px;
}
img {
/* source https://codepen.io/codewithJahid/pen/JRPvBj */
/* filter: url(filters.svg#grayscale); Firefox 3.5+ */
     filter: gray; /* IE5+ */
     -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
     -webkit-transition: all .8s ease-in-out;
   }

   img:hover {
   filter: none;
     -webkit-filter: grayscale(0);
     -webkit-transform: scale(1.01);
   }

.logo img {
    /* layering transparent image with a glow that highlights the image instead of the square div that its inside
    source: https://stackoverflow.com/questions/8693733/how-to-give-outer-glow-to-an-object-in-a-transparent-png-using-css3/23750970 */
  position: absolute;
  width:80px;
  height:80px;
  left: 100px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform-origin: 1 1;
  -webkit-transform-origin: 1 1;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
img.main {
  z-index:2;
}
img.glow {
  z-index:1;
  transform: scale(1.01) translate(-50%, -50%);
  -webkit-transform: scale(1.01) translate(-50%, -50%);
  filter: brightness(0) invert(1) blur(3px);
  -webkit-filter: brightness(0) invert(1) blur(5px);
  opacity:0;
}
img.main:hover ~ img.glow {
  opacity:3;
}

/* https://peter.coffee/how-to-use-css-pseudo-elements-to-add-a-gradient-to-images */
.coverimage::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}
.supportingimages::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -1310px;
  height: 150px;
  width: 100%;
  content: '';

}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
